@{
    IDocument[] posts = Outputs.FromPipeline("Content")
            //.FilterSources(Document.Id)
            .OrderByDescending(item => item.GetDateTime(WebKeys.Published))
            .Where(item => item.GetBool("IsPost") && item.Id != Document.Id)
            .Take(3)
            .ToArray();
}

@if (@posts.Count()>0)
{
    <h3 class="bg-dark text-light p-2">Recent posts</h3>
    @foreach (IDocument post in posts)
    {
        <div class="post-preview">
            <h4 class="post-title">@Html.DocumentLink(post)</h4>
            <p class="post-meta">Published on @post.GetDateTime(WebKeys.Published).ToLongDateString()</p>
        </div>
    }
}

<script src="https://giscus.app/client.js"
        data-repo="pankajrawat333/MyWebSite.dev"
        data-repo-id="R_kgDOIB9MBg"
        data-category="Announcements"
        data-category-id="DIC_kwDOIB9MBs4CRk-x"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>