Title: About me
Image: /images/aboutheader.jpeg
---
<p>Hi, my name is Pankaj Rawat and I am a software developer living in Lansdowne, Uttarakhand, India.</p>

<p> Currently, I am working with Amazon Web Services.</p>

<p>I am a .NET and Cloud enthusiast, primarily coding in C# but I like to discover other languages and technologies too. I am 2x AWS | 3x Azure Certified Solution Architect.</p>

<p>Connect with me on <a href="https://www.linkedin.com/in/pankaj-rawat-14568765/">LinkedIn</a> | <a href="https://twitter.com/pankajrawat333">Twitter</a></p>

<p>Pronouns: He/him</p>

@Html.Partial("_social-links")