Title: About me
Image: /images/aboutheader.jpeg
Order: 2
---

I’m **Pankaj Rawat** — a cloud modernization strategist, technologist, and lifelong learner with over **16 years of experience** architecting scalable, secure, and cost-optimized solutions across industries.

As a **Lead Consultant at Amazon Web Services**, I help enterprises modernize their Microsoft workloads and accelerate their cloud transformation journeys. My expertise spans distributed systems, backend architecture, agentic AI, and hands-on development with **.NET** and **Python**.

I hold **5× AWS** and **3× Azure certifications**, and I’m an active contributor to the AWS ecosystem. My work includes technical blogs published on the **official AWS website**, **serverless patterns** featured on ServerlessLand, and ongoing contributions to the **.NET on AWS community** through GitHub open-source samples, best practices, and developer enablement.

I have a keen interest in **microservices architecture** and **serverless design patterns**, and I enjoy exploring how these paradigms can drive agility, scalability, and operational efficiency in modern cloud-native systems.


<p>Connect with me on <a href="https://www.linkedin.com/in/pankaj-rawat-14568765">LinkedIn</a> | <a href="https://twitter.com/pankajrawat333">Twitter</a></p>

<p>Pronouns: He/him</p>

<p>
    <img src="/images/aws-sap.jpg" title="AWS Certified Solutions Architect - Professional"/>
    &nbsp;&nbsp;
    <img src="/images/aws-saa.jpg" title="AWS Certified Solutions Architect - Associate"/>
    &nbsp;&nbsp;
    <img src="/images/aws-sys-ops.jpg" title="AWS Certified Solutions Architect - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-dev-associate.jpg" title="AWS Certified Developer - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-apprunner.jpg" title=".NET Workloads on AWS App Runner"/>
    &nbsp;&nbsp;
    <img src="/images/aws-lambda.jpg" title=".NET Workloads on AWS Lambda"/>
    &nbsp;&nbsp;
    <img src="/images/gen-ai-essential.jpg" title="AWS Partner: Generative AI Essentials" />
</p>
<br />
<p>
    <img src="/images/azure-sa.jpg" title="Microsoft Azure Architect Technologies"/>
    &nbsp;&nbsp;
    <img src="/images/azure-iot.jpg" title="Microsoft Certified: Azure IoT Developer Specialty"/>
    &nbsp;&nbsp;
    <img src="/images/azure-dev.jpg" title="Developing Microsoft Azure Solutions"/>
</p>

@*@Html.Partial("_social-links")*@