Title: About me
Image: /images/aboutheader.jpeg
Order: 2
---
    
    <p>I’m <strong>Pankaj Rawat</strong> — a cloud modernization strategist, technologist, and lifelong learner with over <strong>16 years of experience</strong> architecting scalable, secure, and cost-optimized solutions across industries.</p>

    <p>As a <strong>Lead Consultant at Amazon Web Services</strong>, I help enterprises modernize their Microsoft workloads and accelerate their cloud transformation journeys. My expertise spans distributed systems, backend architecture, agentic AI, and hands-on development with <strong>.NET</strong> and <strong>Python</strong>.</p>

<p>I hold <strong>5× AWS</strong> and <strong>3× Azure certifications</strong>, and I’m an active contributor to the AWS ecosystem. My work includes technical blogs published on the <strong>official AWS website</strong>, serverless patterns featured on <strong>ServerlessLand</strong>, and ongoing contributions to the <strong>.NET on AWS community</strong> through GitHub open-source samples, best practices, and developer enablement.</p>

<p>I have a keen interest in <strong>microservices architecture</strong> and <strong>serverless design patterns</strong>, and I enjoy exploring how these paradigms can drive agility, scalability, and operational efficiency in modern cloud-native systems.</p>

<p>Connect with me on <a href="https://www.linkedin.com/in/pankaj-rawat-14568765">LinkedIn</a> | <a href="https://twitter.com/pankajrawat333">Twitter</a></p>

<p>Pronouns: He/him</p>

<p>
    <img src="/images/aws-sap.jpg" title="AWS Certified Solutions Architect - Professional"/>
    &nbsp;&nbsp;
    <img src="/images/aws-saa.jpg" title="AWS Certified Solutions Architect - Associate"/>
    &nbsp;&nbsp;
    <img src="/images/aws-sys-ops.jpg" title="AWS Certified Solutions Architect - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-dev-associate.jpg" title="AWS Certified Developer - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-apprunner.jpg" title=".NET Workloads on AWS App Runner"/>
    &nbsp;&nbsp;
    <img src="/images/aws-lambda.jpg" title=".NET Workloads on AWS Lambda"/>
    &nbsp;&nbsp;
    <img src="/images/gen-ai-essential.jpg" title="AWS Partner: Generative AI Essentials" />
</p>
<br />
<p>
    <img src="/images/azure-sa.jpg" title="Microsoft Azure Architect Technologies"/>
    &nbsp;&nbsp;
    <img src="/images/azure-iot.jpg" title="Microsoft Certified: Azure IoT Developer Specialty"/>
    &nbsp;&nbsp;
    <img src="/images/azure-dev.jpg" title="Developing Microsoft Azure Solutions"/>
</p>

@*@Html.Partial("_social-links")*@