Title: About me
Image: /images/aboutheader.jpeg
Order: 2
---
<p>Hi, I am Pankaj Rawat, a passionate software developer from India with a keen interest in technology and a drive to create innovative solutions.</p>

<p> I work at Amazon Web Services as a Lead Consultant and help customer to modernize their Microsoft workload to AWS.</p>

<p>I am a .NET and Cloud enthusiast, primarily coding in C# but I like to discover other languages and technologies too. I am 4x AWS | 3x Azure Certified Solution Architect.</p>

<p>Connect with me on <a href="https://www.linkedin.com/in/pankaj-rawat-14568765/">LinkedIn</a> | <a href="https://twitter.com/pankajrawat333">Twitter</a></p>

<p>Pronouns: He/him</p>

<p>
    <img src="/images/aws-sap.jpg" title="AWS Certified Solutions Architect - Professional"/>
    &nbsp;&nbsp;
    <img src="/images/aws-saa.jpg" title="AWS Certified Solutions Architect - Associate"/>
    &nbsp;&nbsp;
    <img src="/images/aws-sys-ops.jpg" title="AWS Certified Solutions Architect - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-dev-associate.jpg" title="AWS Certified Developer - Associate" />
    &nbsp;&nbsp;
    <img src="/images/aws-apprunner.jpg" title=".NET Workloads on AWS App Runner"/>
    &nbsp;&nbsp;
    <img src="/images/aws-lambda.jpg" title=".NET Workloads on AWS Lambda"/>
    &nbsp;&nbsp;
    <img src="/images/gen-ai-essential.jpg" title="AWS Partner: Generative AI Essentials" />
</p>
<br />
<p>
    <img src="/images/azure-sa.jpg" title="Microsoft Azure Architect Technologies"/>
    &nbsp;&nbsp;
    <img src="/images/azure-iot.jpg" title="Microsoft Certified: Azure IoT Developer Specialty"/>
    &nbsp;&nbsp;
    <img src="/images/azure-dev.jpg" title="Developing Microsoft Azure Solutions"/>
</p>

@*@Html.Partial("_social-links")*@